@import url('https://fonts.googleapis.com/css2?family=Material%20Icons&family=Open+Sans&family=Poppins:wght@500&family=Source+Code+Pro&display=swap');
code{
    font-family:'Source Code Pro';
    background:#111;
    padding:2px;
    font-weight:100
}
a:link{
    color:#888
}
a:visited{
    color:#666
}
html{
    background:#111;
    overflow-x:hidden
}
.wrapper{
    width:auto;
    padding: 1px 10px 10px 10px;
    margin:0 auto;
    color:#ccc
}
header{
    padding-top:10px
}
header *{
    font-family:Poppins;
    font-size:32px;
    line-height:40px;
    vertical-align:middle
}
.global-annoucement{
    padding:10px;
    background:#333;
    margin-top:10px;
    border-radius:10px;
    font-family:Poppins;
    line-height:16px;
    margin-bottom: 10px;
}
h2:first-of-type{
    display:none
}
.blog-post-label img{
    height:24px;
    text-align:right;
    margin-left:calc(100% - 24px);
    border-radius:50%;
}
.global-post-label{
    font-size:20px;
    position:absolute;
}
.global-post-icon{
    font-size:20px;
    font-family:'Material Icons';
    margin-left:calc(100% - 20px);
}
.global-post-details{
    font-size:14px;
    font-family:'Open Sans';
    display:grid;
}
.home-content-image{
    display:inline-grid;
    width: calc(50% - 8px);
    overflow: visible;
}
.home-content-image img{
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 520/245;
    box-shadow: black 2px 2px 6px 0px;
    object-fit:cover
}
.home-content-image:nth-child(even){
    margin-left: 8px;
}
.home-content-image:last-of-type{
    margin-bottom: 10px;
}
.home-content-image:not(:last-of-type){
    margin-bottom: 10px;
}
section{
    overflow:hidden;
}
.changelog-container h3,.filedownload-container a{
    font-family:Poppins;
    display:inline-block;
    font-size: 16px;
    line-height:28px;
    vertical-align:middle;
    margin: 0 0 0 4px;
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}
.changelog-container h4{
    font-family:'Open Sans';
    margin:0
}
.changelog-container,.filedownload-container,.navigation-container{
    background:#333;
    padding:10px;
    border-radius:10px;
    margin-top:8px;
    margin-bottom:8px
}
.changelog-container i,.filedownload-container i{
    display:inline-block;
    line-height:28px;
    vertical-align:middle;
    font-size: 24px;
}
h4,h3{
    font-family:'Open Sans';
    font-size:80%
}
img{
    border-radius:10px;
    width:100%
}
::-webkit-scrollbar{
    width:8px
}
::-webkit-scrollbar-thumb{
    background:#333
}
::-webkit-scrollbar-track{
    background:#000
}
.navigation-container a{
    text-decoration:none;
    padding:10px;
    margin-right:4px;
    background:#222;
    font-size:24px;
    width:24px;
    border-radius:16px;
    color:#ccc
}
.navigation-container a:hover{
    color:white
}
footer *{
    color:#ccc;
    text-decoration:none;
    font-family:Poppins;
    margin:0
}
.filedownload-container .avatar-container img {
    width: 24px;
    height: 24px;
}
.filedownload-container .avatar-container * {
    display: inline-grid;
    line-height: 24px;
    vertical-align: top;
}
.avatar-container>*:not(:last-child) {
    margin-bottom:4px
}
.notes-container a {
    font-size:14px;
    display:grid;
    line-height:20px
}
.filedownload-container.nbtcontainer {
    background: #111;
}
.filedownload-container.nbtcontainer>a {
    font-size: 14px;
    white-space: nowrap;
    overflow-x: scroll;
    width: 100%;
}
.filedownload-container.nbtcontainer>a::-webkit-scrollbar{
    height:8px
}
.filedownload-container.nbtcontainer>a::-webkit-scrollbar-thumb{
    background:#444;
    border-radius:10px
}
.filedownload-container.nbtcontainer>a::-webkit-scrollbar-track{
    background:#222;
    border-radius:10px
}
p,h1,h2,h3,h4,h5,li,h6,th,td,tr,code {
    font-family:Poppins
}
.highlight,.highlight .w{
    color:#d0d0d0;
    background: #111;
    padding: 6px;
    border-radius: 10px;
    margin-bottom:8px
}
.highlight .err{
    color:#151515;
    background-color:#ac4142
}
.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{
    color:#888
}
.highlight .cp{
    color:#f4bf75
}
.highlight .nt{
    color:#f4bf75
}
.highlight .o,.highlight .ow{
    color:#d0d0d0
}
.highlight .p,.highlight .pi{
    color:#d0d0d0
}
.highlight .gi{
    color:#90a959
}
.highlight .gd{
    color:#ac4142
}
.highlight .gh{
    color:#6a9fb5;
    font-weight:bold
}
.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{
    color:#aa759f
}
.highlight .kc{
    color:#d28445
}
.highlight .kt{
    color:#d28445
}
.highlight .kd{
    color:#d28445
}
.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{
    color:#90a959
}
.highlight .sr{
    color:#75b5aa
}
.highlight .si{
    color:#8f5536
}
.highlight .se{
    color:#8f5536
}
.highlight .nn{
    color:#f4bf75
}
.highlight .nc{
    color:#f4bf75
}
.highlight .no{
    color:#f4bf75
}
.highlight .na{
    color:#6a9fb5
}
.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{
    color:#90a959
}
.highlight .ss{
    color:#90a959
}
pre code{
    color:#f8f8f2;
    font-family:'Source Code Pro'
}
/*Keeterial Transition*/
.filedownload,element .navigation,.project-changelog,.contentcontainer,header *:not(a){
    display:none
}
.version-container img {
    height:40px;
    width:40px
}
.version-container a {
    position:absolute;
    line-height:40px;
    font-size:20px
}
/* Keeterial is a theme built with partial inspiration from Material, last updated on July 31st 2022 to add link colors*/
 p.dreamsdb.infostats,p.dreamsdb.infotitle{
    position:relative;
    background:0 0;
    display:inline
}
a.dreamsdb.username{
    line-height:44px;
    font-size:24px
}
img.dreamsdb.imp{
    transform:scale(1.7) rotate(-5deg);
    height:44px;
    width:44px
}
.dreamsdb.impusername-container{
    height:44px
}
a.dreamsdb.section{
    margin-bottom:8px;
    margin-top:0
}
.dreamsdb.sectioninfo{
    margin:0
}
p.dreamsdb.infotitle{
    line-height:20px;
    font-size:20px;
    font-weight:700
}
p.dreamsdb.infotitle.infodesc{
    display:block;
    font-size:14px;
    line-height:14px;
    font-weight:400
}
p.dreamsdb.infostats{
    font-weight:200
}
:root{
    --plyr-color-main:#444;
    --plyr-audio-controls-background: #1118;
    --plyr-audio-progress-buffered-background:white;
    --plyr-audio-range-track-background:#0005;
    --plyr-audio-control-color:#ccc;
    --plyr-range-fill-background:#8c8cb0;
    --plyr-menu-background:#333;
    --plyr-menu-color:#ccc;
    --plyr-menu-arrow-color:#ddd;
    --plyr-menu-back-border-shadow-color:#444;
    --plyr-menu-back-border-color:#444;
    --plyr-font-family:'Poppins';
    --plyr-control-spacing:8px;
    --plyr-audio-control-background-hover:#222
}
.plyr__menu__container.plyr__control--back:before{
    box-shadow:0 1px 0 var(--plyr-menu-back-border-shadow-color,#fff)
}
.plyr.plyr--audio{
    border-radius:10px;
    margin-top: 19px;
}
#audioClips>.global-annoucement>a{
    text-shadow:1px 1px 4px #000;
    text-decoration:none
}
#audioClips>.global-annoucement>a:link{
    color:#e1e1e1!important
}
#audioClips>.global-annoucement>a:visited{
    color:#999999!important
}
#audioClips>.global-annoucement>a:link:active{
    color:#bdbdbd!important
}
/* Keeterial Alterations is an addition to Keeterial which improves certain elements of the CSS code for compatibility with the new layout*/
 
